@import "../Base.scss";
footer{
    display: grid;
    background-color: $block-color;
    border-radius: 5px;
    padding: conv(40px,80px,"xl") conv(80px,100px,"xl");
    grid-template-columns: .9fr .6fr .6fr .9fr;
    column-gap: 40px;
    @include lg{
        display: grid;
        grid-template-areas: 
        'main-text main-text nav-links media-links' 
        'newslatter newslatter newslatter newslatter';
        padding: 40px conv(40px,80px,"lg");
        column-gap: 40px;
        row-gap: 40px;
    }
    @include md{
        grid-template-areas: 
        'main-text main-text main-text nav-links' 
        'newslatter newslatter newslatter media-links';
    }
    @include sm{
        grid-template-areas: 
        'main-text main-text main-text main-text '
        'nav-links nav-links media-links media-links' 
        'newslatter newslatter newslatter newslatter';
        padding: conv(20px,40px,"sm") conv(20px,40px,"sm");
    }
    .footer-text-block{
        display: flex;
        flex-direction: column;
        gap : 20px;
        @include lg{
            grid-area: main-text;
            h3{
                text-align: center;
            }
            p{
                text-align: center;
            }
        }@include md{
            justify-content: center;
            align-items: center;
        }
    }
    .footer-nav-links{
        display: flex;
        flex-direction: column;
        gap : 20px;
        @include lg{
            grid-area: nav-links;
        }
        ul{
            margin: 0;
            padding: 0px;
            display: flex;
            flex-direction: column;
            gap : 15px;
            li{
                list-style: none;
                a{
                    @extend p;
                    text-decoration: none;
                }
            }
        }
    }
    .footer-social-links{
        display: flex;
        flex-direction: column;
        gap : 20px;
        @include lg{
            grid-area: media-links;
        }
        ul{
            margin: 0;
            padding: 0px;
            display: flex;
            flex-direction: column;
            gap : 15px;
            li{
                list-style: none;
                height: fit-content;
                a{
                    .icon{
                        display: flex;
                        height: fit-content;
                    }
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    align-self: center;
                    gap: 10px;
                    @extend p;
                    text-decoration: none;
                }
            }
        }
    }
    .footer-newslatter{
        display:flex;
        flex-direction: column;
        gap: 20px;
        @include lg{
            h3{
                text-align: center;
                width: 70%;
            }
            p{
                text-align: center;
                width: 70%;
            }
            grid-area: newslatter;
            justify-content: center;
            align-items: center;
        }
        @include md{
            h3{
                width: 100%;
            }
            p{
                width: 100%;
            }
        }
        .icon-input-button-footer{
            width: 100%;
            display:grid;
            grid-template-areas: 
            'icon input input input'
            'button button button button';
            column-gap: 15px;
            row-gap: 15px;
            @include lg{
                width: 70%;
            }
            @include md{
                width: fit-content;
            }
            @include xs{
                column-gap: conv(0px,15px,"xs");
                row-gap: conv(0px,15px,"xs"); 
            }
            .icon{
                width: fit-content;
                height: fit-content;
                display: flex;
                padding: 10px;
                background-color: $block-color-dark;
                width: fit-content;
                border-radius: 5px;
                grid-area: icon;
                @include xs{
                    width: fit-content;
                    padding: conv(0px,10px,"xs");
                    svg{
                        width: fit-content;
                        height: conv(0px,30px,"xs");
                    }
                }
            }
            input{
                border: solid 2px $block-color-dark ;
                border-radius: 5px;
                background-color: transparent;
                padding: 10px;
                outline: none;
                grid-area: input;
                @include font(20px, "Regular", 100%);
                @include xs{
                    padding: conv(0px,10px,"xs");
                    @include font(conv(0px,18px,"xs"), "Regular", 100%);
                }
            }
            button{
                @include button-nr1;
                width: 100%;
                grid-area: button;
            }

        }
    }
}