@import '../Base';
header{
    display: flex;
    gap: 40px;
    @include sm{
        justify-content: space-between;
    }
    .logo-container{
        margin: 0;
    }
    .nav-burger{
        display: none;
        cursor: pointer;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: flex-end;
        &.active{
            span{
                &:nth-child(1), &:nth-child(2),&:nth-child(3){
                    width: 0px;
                    opacity: 0;
                }
            }
        }
        span{
            height: 0;
            width: 42px;
            transition: all 0.5s ease-out;
            opacity: 1;
            border: solid 2px $block-color-dark;
            border-radius: 5px;
            &:nth-child(1), &:nth-child(3){
                transition-delay: 0.2s;
                width: 32px;
            }
            &:nth-child(1){
                transition-delay: 0.3s;
            }
            
        }
        @include sm{
            display: flex;
        }
    }
    nav{
        padding: 0;
        display: flex;
        align-items: center;
        gap: 20px;
        transition: all 0.5s ease-out;
        div{
            display: none;
            div{

                svg{
                    width: 55px;
                    height: 55px;
                }
            }
        }
            a{

                @include nav-button;
            }
        @include sm{
            filter:drop-shadow(6px 10px 60px rgba(0.516,0.434,0,0.10));
            div{
                display: flex;
                width: 100%;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                div{
                    width: fit-content;
                    cursor: pointer;
                    svg{
                        background-color: $block-color-dark;
                        padding: 10px;
                        border-radius: 5px;
                    }
                }
            }
            width: 80vw;
            height: 100vh;
            background-color: $block-color-light;
            position: fixed;
            position: -webkit-fixed;
            overflow: hidden;
            flex-direction: column;
            padding: 10vw;
            left: 0;
            top: 0;
            bottom: 0;
            justify-content: start;
            transform: translateX(-80vw);
            z-index: 1030;
            a{
                width: 100%;
                padding:15px 20px;
            }
            &.active{
                transform: translateX(0px);
            }
        }
    }
}