@import "../../Base";

.reviews-info-blocks{
    margin: 40px conv(0px,50px,"xl");
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: conv(10px, 30px,"xl") conv(10px, 20px,"xl");
    @include lg{
        margin: 40px 0px;
        grid-template-columns: 1fr 1fr;
        gap: conv(10px, 40px,"lg") conv(10px, 40px,"lg");
    }
    @include sm{
        grid-template-columns: 90vw;
        gap: 20px;
    }
    .reviews-info{
        grid-column: 1 / span 2;
        display: flex;
        width: 80%;
        flex-direction: column;
        height: fit-content;
        @include local-gap;
        gap: 20px 20px;
        @include md{
            align-items: center;
            width: 100%;
            h2,p{

                text-align: center;

            }
        }
        @include sm{
            grid-column: 1;
        }

    }
}
.card-box{
    width: 100%;
    .box{
        display: flex;
        width: fit-content;
        flex-direction: row;
        gap: 20px;
        transition: all .5s ease-out;
    }
}
.card{
    scroll-snap-align: start;
    scroll-padding: 0 24px;
    display: flex;
    flex-direction: column;
    width: conv(200px,300px,"xl");
    height: fit-content;
    padding: conv(20px, 40px, "xl");
    border-radius: 5px;
    box-sizing: content-box;
    gap: 20px;
    background-color: $block-color-light;
    filter:drop-shadow(6px 10px 60px rgba(0.516,0.434,0,0.10));
    p{
        @include font(conv(18px,20px,"xl"), "Regular", 150%)
    }
    @include lg{
        width: fit-content;
    }
    &:nth-child(even){
        margin-top: -40px;
        @include lg{
            margin: 0px;
        }
    }
    &:nth-child(4){
        margin-top: -160px;
        @include lg{
            margin: 0px;
        }
    }
    &:nth-child(5){
        margin-top: -200px;
        @include lg{
            margin: 0px;
        }
    }
    @include sm{
        width: 60vw;
    }
    .card-name-status{
        display: flex;
        flex-direction: row;
        gap: 10px;
        .card-img{
            width: 45px;
            height: 45px;
            background-size: cover;
        }
        .name-status{
            display: flex;
            flex-direction: column;
            gap: 5px;
            span:nth-child(1){
                @include font(18px, "Bold", 110%);
            }
            span:nth-child(2){
                @include font(16px, "Regular", 110%);
            }
        }
    }
}
