@import "../../Base";

.reviews-info-blocks{
    margin: 40px conv(0px,50px,"xl");
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content;
    justify-content: flex-end;
    gap: conv(10px, 30px,"xl") conv(10px, 20px,"xl");
    @include lg{
        margin: 40px 0px;
        grid-template-columns: 1fr 1fr;
        gap: conv(10px, 40px,"lg") conv(10px, 40px,"lg");
    }
    @include sm{
        grid-template-columns: 90vw;
        gap: 20px;
    }
    .reviews-info{
        grid-column: 1 / span 2;
        display: flex;
        width: 80%;
        flex-direction: column;
        height: fit-content;
        @include local-gap;
        gap: 20px 20px;
        @include md{
            align-items: center;
            width: 100%;
            h2,p{

                text-align: center;

            }
        }
        @include sm{
            grid-column: 1;
        }

    }
}
.card-box{
    width: 100%;
    .box{
        display: flex;
        width: fit-content;
        flex-direction: row;
        gap: 20px;
        transition: all .5s ease-out;
    }
}
.card{
    scroll-snap-align: start;
    scroll-padding: 0 24px;
    display: flex;
    flex-direction: column;
    width: conv(200px,300px,"xl");
    height: max-content;
    padding: conv(20px, 40px, "xl");
    border-radius: 5px;
    box-sizing: content-box;
    gap: 20px;
    text-indent: 20px;
    background-color: $block-color-light;
    @include sm{
        height: auto;
        justify-content: space-between;
    }
    filter:drop-shadow(6px 10px 60px rgba(0.516,0.434,0,0.10));
    p{
        @include font(conv(16px,18px,"xl"), "Regular", 150%);
        align-items: baseline;
        @include sm{
            text-align: center;
        }
    }
    @include lg{
        width: fit-content;
    }
    &:nth-child(even){
        position: relative;
        top: -80px;
        @include lg{
            top: 0px;
        }
    }
    &:nth-child(3){
        align-self:end;
        @include lg{
            align-self: start;
        }
    }
    // &:nth-child(4){
    //     margin-top: -160px;
    //     @include lg{
    //         margin: 0px;
    //     }
    // }
    // &:nth-child(5){
    //     margin-top: -200px;
    //     @include lg{
    //         margin: 0px;
    //     }
    // }
    // &:nth-child(6){
    //     margin-top: -40px;
    //     @include lg{
    //         margin: 0px;
    //     }
    // }
    @include sm{
        width: 70vw;
    }
    .card-name-status{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        align-content: center;
        .card-img{
            width: conv(45px, 60px, "lg");
            height: conv(45px, 60px, "lg");
            border-radius: 50%;
            background-size: cover;
        }
        .name-status{
            display: flex;
            flex-direction: column;
            gap: 5px;
            span:nth-child(1){
                @include font(18px, "Bold", 110%);
                text-indent: 0px;
            }
            span:nth-child(2){
                @include font(16px, "Regular", 110%);
                text-indent: 0px;
            }
        }
    }
}
