@import './functions';
.container{
    p{
        padding: 0;
        font-size: 70px;
        align-items: center;
        display: flex;
        &:hover{
            font-size: 50px;
        }
    }
}
.conv{
    background-color: aqua;
    padding: 40px;
    position: relative;
    display: flex;
    width: conv2(400px,500px);
}