@import 'Variables';
@import 'Mixines';
@import 'functions';

b{
    font-weight:map-get($font-weight-map, "Black");
}
p{
    padding: 0px;
    margin: 0px;
    @include font(conv(18px,20px,"xl"),"Regular",150%);
    @include sm{
        @include font(20px,"Regular",150%);
    }
    @include xs{
        @include font(conv(0px,20px,"xs"),"Regular",150%);
    }
}
h1{
    padding: 0px;
    margin: 0px;
    @include font(conv(32px,40px,"xl"),"SemiBold",110%);
    @include sm{
        @include font(conv(32px,40px,"sm"),"SemiBold",110%);
    }
    @include xs{
        @include font(conv(0px,32px,"xs"),"SemiBold",110%);
    }
}
h2{
    padding: 0px;
    margin: 0px;
    @include font(conv(32px,32px,"xl"),"SemiBold",110%);
    @include lg{
        @include font(32px,"SemiBold",110%);
    }
    @include sm{
        @include font(conv(32px,40px,"sm"),"SemiBold",110%);
    }
    @include xs{
        @include font(conv(0px,32px,"xs"),"SemiBold",110%);
    }
}
h3{
    padding: 0px;
    margin: 0px;
    @include font(24px, "SemiBold",110%);
    @include sm{
        @include font(32px, "SemiBold", 110%);
    }
    @include xs{
        @include font(conv(0px,32px,"xs"),"SemiBold",110%);
    }
}