@import 'Base';
html{
    overflow-x: hidden;
}
body{
    background-color: $backround-color;  
    @include global-padding;
    background-image: url("../assets/Images/main-bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    box-sizing: content-box;
    overflow: hidden;
    margin: 0px;
    @include md{
        background: transparent;
    }
}
*{
    box-sizing: border-box;
}