
$breakpoints: (
    "xs" : 480px,
    "sm" : 768px,
    "md" : 1024px,
    "lg" : 1400px,
    "xl" : 1920px,
    );    
@mixin xs {
    @media (max-width:map-get($breakpoints, "xs")) {
        @content;
    }  
}
@mixin sm {
    @media (max-width:map-get($breakpoints, "sm")) {
        @content;
    }  
}
@mixin md {
    @media (max-width:map-get($breakpoints, "md")) {
        @content;
    }  
}
@mixin lg {
    @media (max-width:map-get($breakpoints, "lg")) {
        @content;
    }  
}
@mixin xl {
    @media (max-width:map-get($breakpoints, "xl")) {
        @content;
    }  
}

$font-weight-map: (
    "ExtraLight" : 200,
    "Light" : 300,
    "Regular" : 400,
    "Medium" : 500,
    "SemiBold" : 600,
    "Bold": 700,
    "ExtraBold": 800,
    "Black" : 900,
    "Weight" : 1000,
);
@mixin font($size, $weight , $hight){
    font-family: $main-font-family;
    font-weight:map-get($font-weight-map, $weight);
    font-size: $size;
    line-height: $hight;
    color: $font-color;
}
@mixin button-nr1{
    outline: none;
    border: none;
    font-family: $main-font-family;
    font-weight:map-get($font-weight-map, "Bold");
    font-size: conv(18px,20px,"xl");
    line-height: 100%;
    color: $backround-color;
    background-color: $block-color-dark;
    padding: conv(10px,15px,"xl") conv(20px,40px,"xl");
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    text-wrap: nowrap;
    transition: all 0.5s ease-out;
    @include sm{
        font-size: conv(18px,20px,"sm");
        padding: conv(10px,15px,"sm") ;
    }
    @include xs{
        font-size: conv(0px,20px,"xs");
        padding: conv(0px,20px,"sm") conv(0px,40px,"sm");
    }
    &:hover{
        background-color: $block-color-hover;
    }
}
@mixin button-nr2{
    font-family: $main-font-family;
    font-weight:map-get($font-weight-map, "Bold");
    font-size: conv(18px,20px,"xl");
    line-height: 100%;
    color: $font-color;
    background-color: $backround-color;
    padding: conv(10px,15px,"xl") conv(20px,40px,"xl");
    border-radius: 5px;
    text-decoration: none;
    height: fit-content;
    text-wrap: nowrap;
    width: fit-content;
    border: solid 2px $block-color-hover ;
    transition: all 0.5s ease-out;
    box-sizing: border-box;
    @include sm{
        font-size: conv(18px,20px,"sm");
        padding: conv(10px,15px,"sm") ;
    }
    @include xs{
        font-size: conv(0px,20px,"xs");
        padding: conv(0px,10px,"xs") conv(0px,20px,"xs");
    }
    &:hover{
        color: $backround-color;
        background-color: $block-color-hover;
    }
}
@mixin nav-button{
    font-family: $main-font-family;
    font-weight:map-get($font-weight-map, "Regular");
    font-size: conv(18px,20px,"xl");
    line-height: 100%;
    color: $font-color;
    background-color: $backround-color;
    padding: 10px 20px;
    border-radius: 5px;
    text-wrap: nowrap;
    text-decoration: none;
    height: fit-content;
    width: fit-content;
    transition: all 0.5s ease-out;
    box-sizing: border-box;
    @include xs{
        font-size: conv(0px,18px,"xs");
        padding: conv(0px,10px,"xs") conv(0px,20px,"xs");
    }
    &:hover{
        color: $backround-color;
        background-color: $block-color-hover;
    }
    &.active{
        color: $backround-color;
        background-color: $block-color-hover;
    }
}
@mixin global-margin{
    margin: 40px conv(50px,150px,"xl");
    @include lg{
        margin: 40px 50px;
    }
    @include sm{
        margin: 40px conv(20px, 50px,"sm");
    } 
    @include xs{
        margin: 40px conv(0px, 20px,"xs");
    }
}
@mixin local-gap{
    gap: 20px;
    @include lg{
        gap: conv(20px,40px,"lg");
    }
    @include md{
        gap: 40px
    }  
}
@mixin global-gap{
    gap: 160px;
    @include sm{
        gap: conv(80px,160px, "sm");
    }
}