@import 'Mixines';

$backround-color:#F6F6F6;
$main-font-family: "Nunito Sans", sans-serif;
$shadow-effect: black;
$font-color: #191919;
$block-color-hover: #555555;
$block-color-light: #FDFDFC;
$block-color-dark: black; 
$block-color: #F9CB40;
$block-shadow: drop-shadow(6px 10px 60px rgba(0.516,0.434,0,0.10));
 

